<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>DIY Eliquid Calculator</title>
  <meta name="description" content="???">
  <meta name="author" content="Brokenloop">

  {% load staticfiles %}

  <!-- Custom CSS -->
  <link href="{% static 'mixer/style.css' %}" rel="stylesheet">

  <!-- JavaScript -->
  <script type="text/javascript" src="{% static 'mixer/scripts.js' %}"></script>
</head>

<body>
    <section class="container">
      <div class="item-1">1</div>
      <div class="item-2">2</div>
      <div class="item-3">3</div>
    </section>
</body>
</html>