<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>DIY Eliquid Calculator</title>
  <meta name="description" content="???">
  <meta name="author" content="Brokenloop">

  {% load staticfiles %}


  <!-- React -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.js"></script>

  <!-- CSS -->
  <link href="{% static 'mixer/style.css' %}" rel="stylesheet">


  <!-- JavaScript -->
  <script type="text/babel" src="{% static 'mixer/scripts.js' %}"></script>
</head>

<body>

    <div id="root"></div>

    <!--<div class="container">-->
        <!--<div class="leftSection">-->
            <!--<div class="batchDetails inputSection">-->
                <!--<div class="tab">Basics</div>-->
            <!--</div>-->
            <!--<div class="baseNic inputSection"></div>-->
            <!--<div class="ingredients inputSection"></div>-->
        <!--</div>-->
        <!--<div class="rightSection">-->

        <!--</div>-->
    <!--</div>-->

</body>
</html>