/*  Reset default button styles */
button {
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

button:focus {
  outline: 0;
}

.button {
  padding: 0.5rem 1rem;
  border: 1px solid #d2d6da;
  border-radius: 3px;
  color: #777;
  font-size: 1em;
  align-self: right;
}

.remove {
  /* background-color: #ffb3b3; */
  /* background-color: #777; */
  position: relative;
  left: 10px;
  /* margin-left: 10px; */
  padding-top: 3px;
  padding-bottom: 3px;
}

.add {
  margin-left: 7px;
}

.button.remove:hover {
  background-color: #ffcccc;
}

.button:hover {
  cursor: pointer;
  border-color: cornflowerblue;
  color: white;
  background-color: cornflowerblue;
}
