.Calculator {
  text-align: center;
  margin-top: 10px;
  height: 100%;
}

.container {
  display: grid;
  max-width: 800px;
  min-height: 500px;
  margin: auto;
  /*grid-template-columns: 2fr 2fr;*/
  /*grid-template-areas:*/
  /*"a b"*/
  /*;*/
  padding-bottom: 8px;
  border: 8px;
}

.warning {
  color: red;
}

.saveButton {
  padding: 20px;
  width: 98%;
  font-size: 2em;
  background-color: lightgreen;
  cursor: pointer;
  border-radius: 5px;
  color: #f5f5f5;
  letter-spacing: 0.15em;
}

/*.topSection  {*/
/*}*/

/*.leftSection, .rightSection {*/
/*padding: 8px;*/

/*}*/

/*.leftSection {*/
/*grid-area: a;*/
/*}*/

/*.rightSection {*/
/*grid-area: b;*/
/*}*/
