.SliderField {
    display: grid;
    grid-template-columns: 4fr 2fr 0.5fr;
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: center;
}

.editableLabel {
    border: none;
    border-radius: 4px;
    color: #777;
    font-size: 1em;
    width: 85%;
    padding: 8px;
}

.editableLabel:hover {
    background-color: #f2f2f2;
}

.sliderFieldInput {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #777;
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.value {
    grid-column-start: 1;
    grid-column-end: 2;
}

.slider {
    grid-column-start: 2;
    grid-column-end: 3;
}

.inputSymbol {
     position: relative;
 }
 .inputSymbol input {
     padding-right: 0px;
 }
 .inputSymbol:after {
     position: absolute;
     top: 0;
     content: attr(symbol);
     top:8px;
     right: 8px;
 }
